
.latest-rates, .currency-converter {
    background-color: #F8F8F8;
}

.table{
    width: 215px;
    margin: auto;
}  

.table, th, td {
    border-spacing: 1px;  
    line-height: 0.9;
}

th {
    text-align: left;
}

td {
    text-align: right;
}