
.latest-rates, .currency-converter {
    background-color: #F8F8F8;
}

.table{
    width: 210px;
    margin: auto;
    padding-bottom: 2px;
}  

.table, th, td {
    border-spacing: 1px;  
    line-height: 0.9;
}

.font-title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
    margin: 0px 0px 8px;
}

th {
    text-align: left;
}

td {
    text-align: right;
}